<?xml version="1.0" encoding="utf-8"?>
<module>
	<name>Dashboard</name>
	<type>back-end</type>
	<main>true</main>
	<author>Mamadou Lamine Ba</author>
	<authorEmail>lmamdou@s2m.com</authorEmail>
	<description>dashboard</description>
	<creationDate>04/06/2019</creationDate>
	<copyright>©2019</copyright>
	<license>GNU/GPL</license>
	<version>1.0</version>
	<actions>
	   <action url="test" method="test"></action>
	</actions>
</module>