<?xml version="1.0" encoding="utf-8"?>
<module>
    <name>users</name>
	<url>users</url>
	<type>back-end</type>
	<visible>false</visible>
	<administrable>false</administrable>
	<author>Mamadou Lamine Ba</author>
	<authorEmail>laminba2003@yahoo.fr</authorEmail>
	<description>module to manage users</description>
	<creationDate>2016-09-01</creationDate>
	<copyright>© 2016</copyright>
	<license>GNU/GPL</license>
	<version>1.0</version>
	<menus>
		<menu>
			<menuItem label="Account" />
			<menuItem label="Preferences" url="preferences" />
		</menu>
	</menus>
	<actions>
		<action  url="login"   method="login" />
		<action  url="logout"  method="logout">
			<result type="redirect">/</result>
		</action>
		<action url="preferences/templates/select" method="selectTemplate"/>
	</actions>
</module>